In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("data/finalTrain.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [5]:
#Drop id and delivery person id
df=df.drop(labels=['ID'],axis=1)
df=df.drop(labels=['Delivery_person_ID'],axis=1)

In [6]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [50]:
df['Order_Day']=df['Order_Date'].str.split('-').str[0]
df['Order_Month']=df['Order_Date'].str.split('-').str[1]
df['Order_Year']=df['Order_Date'].str.split('-').str[2]

In [51]:
# Droping the Order_Date column
df.drop('Order_Date', axis=1,inplace=True)

In [52]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Order_Day,Order_Month,Order_Year
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,02,2022
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,02,2022
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,04,03,2022
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,02,2022
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,02,2022

In [53]:
df['Order_Day']=df['Order_Day'].astype(int)
df['Order_Month']=df['Order_Month'].astype(int)
df['Order_Year']=df['Order_Year'].astype(int)

In [55]:
df['Time_Orderd'].unique()

array(['21:55', '14:55', '17:30', '09:20', '19:50', '20:25', '20:30',
       '20:40', '21:15', '20:20', '22:30', '08:15', '19:30', '12:25',
       '18:35', '20:35', '23:20', '21:20', '23:35', '22:35', '23:25',
       '13:35', '21:35', '18:55', '14:15', '0.458333333', '09:45',
       '08:40', '0.958333333', '17:25', nan, '19:45', '19:10', '10:55',
       '21:40', '0.791666667', '16:45', '11:30', '15:10', '22:45',
       '22:10', '20:45', '22:50', '17:55', '09:25', '20:15', '22:25',
       '22:40', '23:50', '15:25', '10:20', '20:55', '10:40', '15:55',
       '20:10', '12:10', '15:30', '10:35', '21:10', '20:50', '12:35',
       '0.875', '23:40', '18:15', '18:20', '11:45', '12:45', '23:30',
       '10:50', '21:25', '10:10', '17:50', '22:20', '12:40', '23:55',
       '10:25', '08:45', '23:45', '19:55', '22:15', '23:10', '09:15',
       '18:25', '18:45', '16:50', '1', '14:20', '10:15', '08:50', '0.375',
       '17:45', '16:35', '08:30', '21:45', '19:40', '14:50', '18:10',
       '12:20', '12:50', '09:10', '12:30', '17:10', '19:15', '17:20',
       '18:30', '13:10', '19:35', '09:50', '0.625', '0.833333333',
       '10:30', '09:40', '15:35', '16:55', '22:55', '0.666666667', '0.75',
       '17:15', '21:30', '18:40', '11:10', '13:50', '0.416666667',
       '21:50', '11:50', '13:30', '0.916666667', '08:25', '11:20',
       '11:55', '09:30', '08:20', '08:10', '11:40', '23:15', '19:20',
       '12:15', '11:35', '11:15', '17:35', '17:40', '14:40', '18:50',
       '11:25', '14:25', '0.5', '16:10', '19:25', '08:55', '13:40',
       '0.708333333', '09:35', '08:35', '16:15', '13:20', '15:50',
       '15:20', '16:20', '14:30', '15:45', '16:40', '0.541666667',
       '12:55', '10:45', '13:25', '09:55', '15:15', '13:15',
       '0.583333333', '15:40', '16:25', '14:10', '13:45', '13:55',
       '14:35', '16:30', '14:45'], dtype=object)

In [57]:
#Made function to change decimal time to hours and minutes
def format_time(time_str):
    if isinstance(time_str, str) and '.' in time_str:
        decimal_time = float(time_str)
        hours = int(decimal_time)
        minutes = round((decimal_time - hours) * 60)
        return f"{hours:02d}:{minutes:02d}"
    else:
        return time_str

df['Time_Orderd'] = df['Time_Orderd'].apply(format_time)

In [58]:
df['Time_Orderd'].unique()

array(['21:55', '14:55', '17:30', '09:20', '19:50', '20:25', '20:30',
       '20:40', '21:15', '20:20', '22:30', '08:15', '19:30', '12:25',
       '18:35', '20:35', '23:20', '21:20', '23:35', '22:35', '23:25',
       '13:35', '21:35', '18:55', '14:15', '00:27', '09:45', '08:40',
       '00:57', '17:25', nan, '19:45', '19:10', '10:55', '21:40', '00:48',
       '16:45', '11:30', '15:10', '22:45', '22:10', '20:45', '22:50',
       '17:55', '09:25', '20:15', '22:25', '22:40', '23:50', '15:25',
       '10:20', '20:55', '10:40', '15:55', '20:10', '12:10', '15:30',
       '10:35', '21:10', '20:50', '12:35', '00:52', '23:40', '18:15',
       '18:20', '11:45', '12:45', '23:30', '10:50', '21:25', '10:10',
       '17:50', '22:20', '12:40', '23:55', '10:25', '08:45', '23:45',
       '19:55', '22:15', '23:10', '09:15', '18:25', '18:45', '16:50', '1',
       '14:20', '10:15', '08:50', '00:22', '17:45', '16:35', '08:30',
       '21:45', '19:40', '14:50', '18:10', '12:20', '12:50', '09:10',
       '12:30', '17:10', '19:15', '17:20', '18:30', '13:10', '19:35',
       '09:50', '00:38', '00:50', '10:30', '09:40', '15:35', '16:55',
       '22:55', '00:40', '00:45', '17:15', '21:30', '18:40', '11:10',
       '13:50', '00:25', '21:50', '11:50', '13:30', '00:55', '08:25',
       '11:20', '11:55', '09:30', '08:20', '08:10', '11:40', '23:15',
       '19:20', '12:15', '11:35', '11:15', '17:35', '17:40', '14:40',
       '18:50', '11:25', '14:25', '00:30', '16:10', '19:25', '08:55',
       '13:40', '00:42', '09:35', '08:35', '16:15', '13:20', '15:50',
       '15:20', '16:20', '14:30', '15:45', '16:40', '00:33', '12:55',
       '10:45', '13:25', '09:55', '15:15', '13:15', '00:35', '15:40',
       '16:25', '14:10', '13:45', '13:55', '14:35', '16:30', '14:45'],
      dtype=object)

In [59]:
df['Time_Orderd_Hour']=df['Time_Orderd'].str.split(':').str[0]
df['Time_Orderd_Min']=df['Time_Orderd'].str.split(':').str[1]
df.drop('Time_Orderd', axis=1,inplace=True)

In [60]:
df['Time_Orderd_Hour'].unique()

array(['21', '14', '17', '09', '19', '20', '22', '08', '12', '18', '23',
       '13', '00', nan, '10', '16', '11', '15', '1'], dtype=object)

In [73]:
df['Time_Orderd_Min']=df['Time_Orderd_Min'].fillna(0)

In [74]:
df['Time_Orderd_Min'].unique()

array(['55', '30', '20', '50', '25', '40', '15', '35', '27', '45', '57',
       0, '10', '48', '52', '22', '38', '42', '33'], dtype=object)

In [76]:
df['Time_Orderd_Hour'].unique()

array(['21', '14', '17', '09', '19', '20', '22', '08', '12', '18', '23',
       '13', '00', nan, '10', '16', '11', '15', '1'], dtype=object)

In [77]:
df['Time_Orderd_Hour']=df['Time_Orderd_Min'].fillna(0)

In [78]:
df['Time_Orderd_Hour'].unique()

array(['55', '30', '20', '50', '25', '40', '15', '35', '27', '45', '57',
       0, '10', '48', '52', '22', '38', '42', '33'], dtype=object)

In [79]:
df['Time_Orderd_Hour']=df['Time_Orderd_Hour'].astype(int)
df['Time_Orderd_Min']=df['Time_Orderd_Min'].astype(int)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Order_picked            45584 non-null  object
 7   Weather_conditions           44968 non-null  object
 8   Road_traffic_density         44983 non-null  object
 9   Vehicle_condition            45584 non-null  int64
 10  Type_of_order                45584 non-null  object
 11  Type_of_vehicle              45584 non-null  object
 12  multiple_deliveries          44591 non-null  float64
 13  Festival                     45356 non-null  object
 14  City                         44384 non-null  object
 15  Time_taken (min)             45584 non-null  int64
 16  Order_Day                    45584 non-null  int32
 17  Order_Month                  45584 non-null  int32
 18  Order_Year                   45584 non-null  int32
 19  Time_Orderd_Hour             45584 non-null  int32
 20  Time_Orderd_Min              45584 non-null  int32
dtypes: float64(7), int32(5), int64(2), object(7)
memory usage: 6.4+ MB

In [81]:
df['Time_Order_picked'].unique()

array(['22:10', '15:05', '17:40', '09:30', '20:05', '20:35', '15:10',
       '20:40', '20:50', '21:30', '20:25', '22:45', '08:30', '19:45',
       '12:30', '18:50', '23:30', '21:35', '23:45', '22:50', '22:40',
       '23:35', '13:40', '21:45', '19:10', '14:25', '11:10', '09:55',
       '08:55', '23:10', '17:30', '18:35', '19:50', '19:25',
       '0.458333333', '19:15', '16:55', '11:40', '15:15', '22:55',
       '22:25', '20:55', '23:05', '0.75', '0.958333333', '09:40', '20:20',
       '22:35', '0.916666667', '23:55', '15:40', '10:30', '0.875',
       '10:50', '16:05', '20:15', '12:15', '15:45', '22:15', '10:45',
       '15:30', '24:05:00', '21:25', '12:45', '21:15', '18:20', '18:25',
       '11:50', '12:50', '10:55', '21:40', '10:20', '17:55', '23:50',
       '12:55', '24:10:00', '10:40', '0.375', '20:45', '0.833333333',
       '23:15', '22:20', '21:05', '0.708333333', '24:15:00', '21:20',
       '14:35', '10:25', '09:05', '16:50', '08:40', '23:40', '21:50',
       '19:55', '0.625', '10:35', '09:25', '17:20', '19:30', '17:25',
       '20:10', '1', '17:35', '0.791666667', '19:05', '13:20', '17:50',
       '18:05', '19:20', '10:05', '09:10', '21:55', '19:40', '18:10',
       '09:50', '15:50', '18:30', '18:15', '16:15', '11:15', '21:10',
       '22:30', '15:20', '18:40', '23:20', '11:25', '13:55', '18:45',
       '22:05', '11:55', '18:55', '09:45', '17:15', '12:05', '0.5',
       '19:35', '08:25', '11:05', '15:35', '12:40', '12:25', '08:20',
       '23:25', '16:10', '13:45', '08:15', '08:45', '20:30',
       '0.541666667', '11:20', '08:50', '14:45', '17:45', '0.416666667',
       '08:35', '12:10', '11:35', '14:30', '10:15', '17:05', '10:10',
       '09:35', '11:30', '16:25', '09:15', '13:35', '15:55', '13:10',
       '13:05', '11:45', '16:20', '16:30', '16:45', '09:20', '13:25',
       '14:15', '14:05', '16:35', '16:40', '13:30', '14:40', '12:20',
       '13:50', '17:10', '15:25', '14:20', '12:35', '0.583333333',
       '14:10', '14:55', '13:15', '14:50', '0.666666667'], dtype=object)

In [82]:
df['Time_Order_picked'] = df['Time_Order_picked'].apply(format_time)

In [83]:
df['Time_Order_picked'].unique()

array(['22:10', '15:05', '17:40', '09:30', '20:05', '20:35', '15:10',
       '20:40', '20:50', '21:30', '20:25', '22:45', '08:30', '19:45',
       '12:30', '18:50', '23:30', '21:35', '23:45', '22:50', '22:40',
       '23:35', '13:40', '21:45', '19:10', '14:25', '11:10', '09:55',
       '08:55', '23:10', '17:30', '18:35', '19:50', '19:25', '00:27',
       '19:15', '16:55', '11:40', '15:15', '22:55', '22:25', '20:55',
       '23:05', '00:45', '00:57', '09:40', '20:20', '22:35', '00:55',
       '23:55', '15:40', '10:30', '00:52', '10:50', '16:05', '20:15',
       '12:15', '15:45', '22:15', '10:45', '15:30', '24:05:00', '21:25',
       '12:45', '21:15', '18:20', '18:25', '11:50', '12:50', '10:55',
       '21:40', '10:20', '17:55', '23:50', '12:55', '24:10:00', '10:40',
       '00:22', '20:45', '00:50', '23:15', '22:20', '21:05', '00:42',
       '24:15:00', '21:20', '14:35', '10:25', '09:05', '16:50', '08:40',
       '23:40', '21:50', '19:55', '00:38', '10:35', '09:25', '17:20',
       '19:30', '17:25', '20:10', '1', '17:35', '00:48', '19:05', '13:20',
       '17:50', '18:05', '19:20', '10:05', '09:10', '21:55', '19:40',
       '18:10', '09:50', '15:50', '18:30', '18:15', '16:15', '11:15',
       '21:10', '22:30', '15:20', '18:40', '23:20', '11:25', '13:55',
       '18:45', '22:05', '11:55', '18:55', '09:45', '17:15', '12:05',
       '00:30', '19:35', '08:25', '11:05', '15:35', '12:40', '12:25',
       '08:20', '23:25', '16:10', '13:45', '08:15', '08:45', '20:30',
       '00:33', '11:20', '08:50', '14:45', '17:45', '00:25', '08:35',
       '12:10', '11:35', '14:30', '10:15', '17:05', '10:10', '09:35',
       '11:30', '16:25', '09:15', '13:35', '15:55', '13:10', '13:05',
       '11:45', '16:20', '16:30', '16:45', '09:20', '13:25', '14:15',
       '14:05', '16:35', '16:40', '13:30', '14:40', '12:20', '13:50',
       '17:10', '15:25', '14:20', '12:35', '00:35', '14:10', '14:55',
       '13:15', '14:50', '00:40'], dtype=object)

In [84]:
df['Time_picked_Hour']=df['Time_Order_picked'].str.split(':').str[0]
df['Time_picked_Min']=df['Time_Order_picked'].str.split(':').str[1]
df.drop('Time_Order_picked', axis=1,inplace=True)

In [85]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Time_taken (min),Order_Day,Order_Month,Order_Year,Time_Orderd_Hour,Time_Orderd_Min,Time_picked_Hour,Time_picked_Min
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,No,Metropolitian,46,12,2,2022,55,55,22,10
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,No,Metropolitian,23,13,2,2022,55,55,15,05
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,No,Metropolitian,21,4,3,2022,30,30,17,40
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,No,Metropolitian,20,13,2,2022,20,20,09,30
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,No,Metropolitian,41,14,2,2022,50,50,20,05

In [86]:
df['Time_picked_Hour'].unique()

array(['22', '15', '17', '09', '20', '21', '08', '19', '12', '18', '23',
       '13', '14', '11', '00', '16', '10', '24', '1'], dtype=object)

In [87]:
df['Time_picked_Min'].unique()

array(['10', '05', '40', '30', '35', '50', '25', '45', '55', '27', '15',
       '57', '20', '52', '22', '42', '38', nan, '48', '33'], dtype=object)

In [88]:
df['Time_picked_Min']=df['Time_picked_Hour'].fillna(0)

In [89]:
df['Time_picked_Hour']=df['Time_picked_Hour'].astype(int)
df['Time_picked_Min']=df['Time_picked_Min'].astype(int)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Weather_conditions           44968 non-null  object
 7   Road_traffic_density         44983 non-null  object
 8   Vehicle_condition            45584 non-null  int64
 9   Type_of_order                45584 non-null  object
 10  Type_of_vehicle              45584 non-null  object
 11  multiple_deliveries          44591 non-null  float64
 12  Festival                     45356 non-null  object
 13  City                         44384 non-null  object
 14  Time_taken (min)             45584 non-null  int64
 15  Order_Day                    45584 non-null  int32
 16  Order_Month                  45584 non-null  int32
 17  Order_Year                   45584 non-null  int32
 18  Time_Orderd_Hour             45584 non-null  int32
 19  Time_Orderd_Min              45584 non-null  int32
 20  Time_picked_Hour             45584 non-null  int32
 21  Time_picked_Min              45584 non-null  int32
dtypes: float64(7), int32(7), int64(2), object(6)
memory usage: 6.4+ MB

In [143]:
last_col = df.pop('Time_taken (min)') # Remove column Time_taken from the dataframe and store it in 'last_col'
df.insert(len(df.columns), 'Time_taken (min)', last_col) # Insert 'last_col' as the last column in the dataframe

In [144]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Order_Day,Order_Month,Order_Year,Time_Orderd_Hour,Time_Orderd_Min,Time_picked_Hour,Time_picked_Min,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,No,Metropolitian,12,2,2022,55,55,22,22,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,No,Metropolitian,13,2,2022,55,55,15,15,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,No,Metropolitian,4,3,2022,30,30,17,17,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,No,Metropolitian,13,2,2022,20,20,9,9,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,No,Metropolitian,14,2,2022,50,50,20,20,41

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Weather_conditions           44968 non-null  object
 7   Road_traffic_density         44983 non-null  object
 8   Vehicle_condition            45584 non-null  int64
 9   Type_of_order                45584 non-null  object
 10  Type_of_vehicle              45584 non-null  object
 11  multiple_deliveries          44591 non-null  float64
 12  Festival                     45356 non-null  object
 13  City                         44384 non-null  object
 14  Order_Day                    45584 non-null  int32
 15  Order_Month                  45584 non-null  int32
 16  Order_Year                   45584 non-null  int32
 17  Time_Orderd_Hour             45584 non-null  int32
 18  Time_Orderd_Min              45584 non-null  int32
 19  Time_picked_Hour             45584 non-null  int32
 20  Time_picked_Min              45584 non-null  int32
 21  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int32(7), int64(2), object(6)
memory usage: 6.4+ MB

In [146]:
## Independent and dependent features
X = df.drop(labels=['Time_taken (min)'],axis=1)
Y = df[['Time_taken (min)']]

In [147]:
Y

       Time_taken (min)
0                    46
1                    23
2                    21
3                    20
4                    41
...                 ...
45579                32
45580                36
45581                16
45582                26
45583                36

[45584 rows x 1 columns]

In [148]:
# Define which columns should be ordinal-encoded and count encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          43730 non-null  float64
 1   Delivery_person_Ratings      43676 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Weather_conditions           44968 non-null  object
 7   Road_traffic_density         44983 non-null  object
 8   Vehicle_condition            45584 non-null  int64
 9   Type_of_order                45584 non-null  object
 10  Type_of_vehicle              45584 non-null  object
 11  multiple_deliveries          44591 non-null  float64
 12  Festival                     45356 non-null  object
 13  City                         44384 non-null  object
 14  Order_Day                    45584 non-null  int32
 15  Order_Month                  45584 non-null  int32
 16  Order_Year                   45584 non-null  int32
 17  Time_Orderd_Hour             45584 non-null  int32
 18  Time_Orderd_Min              45584 non-null  int32
 19  Time_picked_Hour             45584 non-null  int32
 20  Time_picked_Min              45584 non-null  int32
 21  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int32(7), int64(2), object(6)
memory usage: 6.4+ MB

In [150]:
categorical_cols

Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [151]:
# Define the custom ranking for each ordinal variable
Weather_conditions_categories=["Sunny","Cloudy","Windy","Fog","Stormy","Sandstorms"]
Road_traffic_density_categories=['Low', 'Medium','High', 'Jam']
Type_of_order_categories=['Buffet','Drinks','Snack','Meal']
Type_of_vehicle_categories=['scooter','bicycle', 'electric_scooter', 'motorcycle']
Festival_categories=['No','Yes']
City_categories=['Semi-Urban','Urban','Metropolitian']

In [152]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [153]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

# Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[
        Weather_conditions_categories,
        Road_traffic_density_categories,
        Type_of_order_categories,
        Type_of_vehicle_categories,
        Festival_categories,
        City_categories
    ])),
    ('scaler',StandardScaler())
    ]
)





preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [154]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=43)

In [155]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [156]:
X_train.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Restaurant_latitude,num_pipeline__Restaurant_longitude,num_pipeline__Delivery_location_latitude,num_pipeline__Delivery_location_longitude,num_pipeline__Vehicle_condition,num_pipeline__multiple_deliveries,num_pipeline__Order_Day,num_pipeline__Order_Month,...,num_pipeline__Time_Orderd_Hour,num_pipeline__Time_Orderd_Min,num_pipeline__Time_picked_Hour,num_pipeline__Time_picked_Min,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_order,cat_pipeline__Type_of_vehicle,cat_pipeline__Festival,cat_pipeline__City
0,0.602772,1.106647,-0.504473,0.323886,-0.614949,0.323967,-0.027606,0.440747,1.164395,0.030281,...,0.819962,0.819962,-2.422501,-2.422501,0.280871,-0.296122,0.440390,0.788948,-0.139956,0.536245
1,0.076372,0.193631,0.676173,0.793471,0.695829,0.830950,-1.222771,0.440747,-0.327092,-1.803148,...,-2.023764,-2.023764,-1.072062,-1.072062,-0.310877,-1.097877,-0.454982,0.788948,-0.139956,0.536245
2,-1.678295,1.106647,0.697609,0.243874,0.719677,0.236468,-0.027606,-1.309950,0.590746,0.030281,...,-0.127947,-0.127947,-1.072062,-1.072062,0.280871,-1.097877,1.335762,0.788948,-0.139956,0.536245
3,-0.800961,-0.110708,0.184588,0.151929,0.161232,0.141304,-1.222771,0.440747,1.508584,0.030281,...,-0.127947,-0.127947,0.578474,0.578474,0.280871,1.307386,-0.454982,0.788948,-0.139956,0.536245
4,0.076372,-0.110708,-2.096652,-3.100949,-2.379472,-3.378194,1.167560,0.440747,0.246557,-1.803148,...,-0.759886,-0.759886,0.878571,0.878571,-1.494374,-1.097877,-1.350354,-1.380705,-0.139956,0.536245

In [157]:

## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [158]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [159]:
regression.coef_

array([[ 2.25027846e+00, -2.29057089e+00, -7.11618183e-02,
        -4.86638175e-01,  1.26776056e-01,  3.85908539e-01,
        -1.60324705e+00,  2.11021140e+00,  9.08494653e-02,
        -2.15242700e-02, -4.32441602e+12,  4.42710792e+13,
        -4.42710792e+13,  4.87278630e+13, -4.87278630e+13,
         5.02096605e-01,  3.14458623e+00,  6.69945031e-02,
         3.12431273e-01,  1.60384635e+00,  7.76154398e-01]])

In [160]:
regression.intercept_

array([26.29230914])

In [161]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [162]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.660837291208247
MAE: 5.269315401113385
R2 score 48.20827555870236
===================================


Lasso
Model Training Performance
RMSE: 7.047186374326448
MAE: 5.6286409041005
R2 score 42.02587054104453
===================================


Ridge
Model Training Performance
RMSE: 6.660958989868426
MAE: 5.2696977022280995
R2 score 48.20638299151373
===================================


Elasticnet
Model Training Performance
RMSE: 7.115893272728795
MAE: 5.705306547882152
R2 score 40.88991649503087
===================================

In [163]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [164]:
categorical_cols

Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [165]:
numerical_cols

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'Order_Day', 'Order_Month', 'Order_Year',
       'Time_Orderd_Hour', 'Time_Orderd_Min', 'Time_picked_Hour',
       'Time_picked_Min'],
      dtype='object')